.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background: black;
}

/*******************************/
/******* PARA EL CHAT *********/
/*****************************/
.left {
	display: flex;
	flex: 1;
	flex-grow: 8;
	background: #66B9BF;
	flex-direction: column;
}

.mensajes {
	display: flex;
	flex: 1;
	flex-grow: 6;
	flex-direction: column;
	background: pink;
}
.emojis {
	display: flex;
	flex: 1;
	flex-grow: 2;
	/*flex-direction: column;*/
	background: #66B9BF;
}
.texto {
	display: flex;
	flex: 1;
	flex-grow: 1;
	flex-direction: row;
	background: pink;
	align-items: center;
}
.form {
	display: flex;
	flex: 1;
	flex-grow: 5;
	flex-direction: row;
	align-items: center;
	background: #000; 
}
/**************************************/
/************ PARA FORM **************/
.input {
	display: flex;
	flex: 1;
	flex-grow: 5;
}
.b-send {
	display: flex;
	flex: 1;
	flex-grow: 1;
}


.b-file {
	display: flex;
	flex: 1;
	flex-grow: 1;
}

/************************************/
/******* PARA LOS USUARIOS *********/
/**********************************/
.right {
	display: flex;
	flex: 1;
	flex-grow: 2;
	background: #07889B;
	flex-direction: column;
}

body { 
	font: 13px Helvetica, Arial; 
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}