.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	/*background: black;*/
}

/*******************************/
/******* PARA EL CHAT *********/
/*****************************/
.left {
	display: flex;
	flex: 1;
	flex-grow: 8;
	flex-direction: column;
}

.emojis {
	display: flex;
	flex: 1;
	flex-grow: 2;
	/*flex-direction: column;*/
	background: pink;
}
.texto {
	display: flex;
	flex: 1;
	flex-grow: 1;
	flex-direction: row;
	background: pink;
	align-items: center;
}
.form {
	display: flex;
	flex: 1;
	flex-grow: 5;
	flex-direction: row;
	align-items: center;
	background: #ffff; 
}
#messages { 
    overflow: auto;
	background: #ffff;
	display: flex;
	flex: 1;
	flex-grow: 6;
	flex-direction: column;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	display: flex;;
	flex: 1;
	height: : 5%;
	padding: 5px 10px; 
	text-align: center;
}

#messages li:nth-child(odd) { 
	display: flex;
	flex: 1;
	background: #eee; 
}


/**************************************/
/************ PARA FORM **************/
.input {
	display: flex;
	flex: 1;
	flex-grow: 5;
	padding: 15px; 
}
.b-send {
	align-self: center;
	display: flex;
	flex: 1;
	flex-grow: 1;
	background-color: #66B9BF; /* Green */
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
}

.b-file {
	align-self: center;
	display: flex;
	flex: 1;
	flex-grow: 1;

	background-color: #737373; /* Green */
	border: none;
	color: white;
	padding: 10px 10px;
	border-radius: 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 21px;
}

/************************************/
/******* PARA LOS USUARIOS *********/
/**********************************/
.right {
	
}

#users { 
	background: #07889B;
    overflow: auto;
	display: flex;
	flex: 1;
	flex-grow: 2;
	flex-direction: column;
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#users li { 
	display: flex;;
	flex: 1;
	height: : 5%;
	padding: 5px 5px; 
	text-align: center;
}

#users li:nth-child(odd) { 
	display: flex;
	flex: 1;
	background: #eee; 
}

body { 
	font: 13px Helvetica, Arial; 
}

